<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <!-- Remove the comments on lines 11, 15, 23 & 25 to write to the log file. -->
        <!-- 
        <target xsi:type="File" name="logfile" fileName="plugin-log.log"
                 layout="${longdate}|${level}|${logger}|${message} | ${all-event-properties} ${exception:format=tostring}"
                 maxArchiveFiles="2" archiveOldFileOnStartup="true" archiveEvery="Day" enableArchiveFileCompression="true"
                  /> 
         -->
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${logger}|${message} | ${all-event-properties} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--
        <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
         -->
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>
</nlog>